.btn
{
    margin-top: 1em;
    background-color: #5D5C61;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 10px;
    border: #B1A296 3px solid;
    box-shadow: 2px 2px 5px #000;
    transition: all 1.2s ease-in-out;
    &:hover
    {
        box-shadow: 5px 5px 5px #000;
        border: #B1A296 3px solid;
    }
}