@import './sass/sections/header';
@import './sass/sections/mainer';
@import './sass/sections/footer';

body, #root{
    background: rgb(85,122,149);
    background: linear-gradient(180deg, rgba(85,122,149,1) 24%, rgba(115,149,174,1) 64%, rgba(177,162,150,1) 100%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


